<<<<<<< HEAD

=======
<h1>Offices</h1>
<div class="office-container">
<p><%= link_to '+ Add new office', new_office_path %></p>
  <div class="row">
    <% @offices.each do |office| %>
      <div class="col-xs-4">
        <div class="office-card" style="background-image: url('a/assets/images/office_placeholder.jpg'), linear-gradient(-225deg, rgba(0,0,0,0.6) 50%, rgba(0,36,61,0.6) 80%)">
          <%= link_to office.name, office_path(office) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
>>>>>>> 6302d28e85a195d2154bdd926761e7af4c6d1bd3
