<div class="containers-container">
  <div class="office-container">
    <%= link_to '+ Add new office', new_office_path %>
    <div class="row">
      <% @offices.each do |office| %>
        <div class="col-xs-4">
          <%= render "card", office: office %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 30%;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
