@import "new";


.office-container {
  text-align: center;
  margin: 20px;
}

.office-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  height: 200px;
  margin: 10px 0;
}




