@import "new";
@import "buttons";
@import "show";
@import "card";

.office-container {
  h1 {
    margin:0;
  }
  margin: 20px;
  width: 70%;
}

#map {
  height: calc(100vh - 70px);
  min-width: 300px;
}

.containers-container {
  display: flex;
}
