/* Main navbar */
.navbar-cowork {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(255,255,255,0.9);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-cowork-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-cowork .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-cowork-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-cowork-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-cowork-link {
  color: #616668;
  font-size: 14px;
}
.navbar-cowork-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-cowork-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-cowork-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter ;
  color: #999999;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 20p;
}
.navbar-cowork-dropdown-menu li > a:hover {
  background: transparent ;
  color: black ;
}
.navbar-cowork-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-cowork input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: none;

}

.navbar-cowork .search-container button {
  float: initial;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 100px;
  background: rgba(200,200,200,0.8);
  font-size: 12px;
  border: thin;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-cowork .search-container button:hover {
  background: rgba(236,236,236,0.8);
}
